version: 2
updates:
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: quarterly
    cooldown:
      default-days: 10
  - package-ecosystem: cargo
    directory: '/'
    schedule:
      interval: quarterly
    cooldown:
      default-days: 10
