name: Check

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: typst-community/setup-typst@v4
      - uses: taiki-e/install-action@v2
        with:
          tool: just,typship
      - name: Setup tinymist
        run:
          curl --proto '=https' --tlsv1.2 -LsSf https://github.com/Myriad-Dreamin/tinymist/releases/latest/download/tinymist-installer.sh | sh

      - uses: dtolnay/rust-toolchain@stable
      - run: just setup
      - uses: Swatinem/rust-cache@v2

      - run: just build
      - uses: actions/upload-artifact@v6
        with:
          name: lure-wasm
          path: typ/lure.wasm

      - run: just test
      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: test-refs
          path: typ/refs

      - run: just test-readme
